.movie-container {
  position: relative;
}

.movie-button-left {
  position: absolute;
  top: 45%;
  left: 0.5%;
  align-items: center;
  z-index: 99;
}

.movie-button-right {
  position: absolute;
  top: 45%;
  right: 0.5%;
  align-items: center;
}
